html,
body {
  margin: 0;
  padding: 0;
  background: black;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}

main {
  width: 100vw;
  height: 100vh;
}

#controls {
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 12px 10px 8px;
  border-radius: 0 0 4px 0;
  font-size: 13px;
}

.CheckboxField {
  display: flex;
  align-items: center;
  gap: 6px;
}
