html,
body {
  margin: 0;
  padding: 0;
}

#canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#controls {
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 4px 6px;
  border-radius: 3px;
}

.CheckboxField {
  display: flex;
  align-items: center;
  gap: 6px;
}
