.Button {
  composes: Button from "./Button.module.css";
}

.Button[data-copied="true"] {
  background: rgba(0, 117, 213, 0.9);
  border-color: rgba(255, 255, 255, 0.4);
}

.ClipboardIcon {
  display: none;
  opacity: 1;
}

.Button[data-copied="true"] .ClipboardIcon {
  display: block;
  animation: showClipboardCheck 220ms linear infinite;
}

.Button[data-copied="true"] .PinIcon {
  display: none;
}

@keyframes showClipboardCheck {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
