.InspectorControls {
  position: relative;
  font-size: 13px;
  line-height: 1.231;
  z-index: 2;
}

.Dropdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0;
}

.ButtonGroup {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
}

.ButtonGroup .IconButton {
  flex: 1 0 0;
  flex-direction: column;
  gap: 1px;
  font-size: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: rgba(27, 79, 135, 0.7);
  box-shadow: inset 0 0 10px rgba(4, 40, 71, 0.5);
}

.ButtonGroup .IconButton svg {
  margin-bottom: 3px;
}

.ButtonGroup .IconButton[data-active="true"] {
  background: rgba(0, 101, 203, 0.8);
  box-shadow:
    inset 0 2px 3px rgba(8, 189, 255, 0.5),
    inset 0 -2px 6px rgba(0, 18, 40, 0.5);
}

.ButtonGroup .IconButton[data-active="true"] svg {
  opacity: 1;
}

.ButtonGroup .IconButton:not(:first-child) {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ButtonGroup .IconButton:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.LabelledButton {
  display: flex;
  align-items: center;
  gap: 6px;
}

.CheckboxField {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 0 6px;
  margin: 0 0 6px 0;
}

.CheckboxField input[type="checkbox"] {
  margin-left: 0;
  grid-column: 1;
  grid-row: 1;
}

.CheckboxField .Label {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  gap: 6px;
}

.Description {
  font-size: 12px;
  line-height: 1.3333;
  opacity: 0.6;
  margin: 2px 0 4px 0;
  padding: 0;
}

.CheckboxField .Description {
  grid-column: 2;
  grid-row: 2;
}

.Control {
  display: flex;
  align-items: center;
  gap: 8px;
}

.Field select {
  margin-bottom: 6px;
}

.Field output {
  opacity: 0.7;
}

.Tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.Field {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  margin: 0 0 6px 0;
}

.Field label {
  grid-column: 1;
  grid-row: 1;
}

.Field .Control {
  grid-column: 2;
  grid-row: 1;
}

.Field .Description {
  grid-column: 1 / -1;
  grid-row: 2;
}

.IconButton {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  min-width: 28px;
  min-height: 32px;
  gap: 8px;
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 5px;
  background: rgba(0, 98, 179, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  transform: translate(0, 0);
  transition:
    background 0.2s,
    border-color 0.2s;
}

.IconButton svg {
  opacity: 0.8;
  flex: 0 0 auto;
  pointer-events: none;
  transition: opacity 0.2s;
}

.IconButton:disabled {
  opacity: 0.6;
  cursor: default;
}

@media (hover: hover) {
  .IconButton {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(200, 200, 200, 0.3);
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
    background: rgba(3, 82, 147, 0.6);
  }

  .IconButton:not(:disabled):hover {
    background: rgba(0, 98, 179, 0.8);
    border-color: rgba(255, 255, 255, 0.4);
  }

  .IconButton svg {
    opacity: 0.6;
  }

  .IconButton:not(:disabled):hover svg {
    opacity: 1;
  }
}

.IconButton:not(:disabled):active,
.IconButton[aria-expanded="true"] {
  background: rgba(0, 98, 179, 0.7);
  border-color: rgba(255, 255, 255, 0.3);
  transform: translate(0, 1px);
}

.IconButton[data-active="true"] {
  background: rgba(0, 117, 213, 0.9);
  border-color: rgba(255, 255, 255, 0.4);
}

.ButtonLabel {
  font-size: 14px;
}

.ButtonHint {
  font-size: 10px;
  opacity: 0.7;
}

.Toggle {
  composes: IconButton;
  margin: 0;
}

.MapInfoButton {
  composes: IconButton;
  composes: LabelledButton;
}

.ForceRenderButton {
  display: grid;
  place-content: center;
  border: 0;
  margin: 0;
  padding: 0 2px;
  font-size: 16px;
  background: transparent;
  color: #4cb5ff;
  cursor: pointer;
}
