.InspectorControls {
  position: relative;
  font-size: 13px;
  line-height: 1.231;
  z-index: 2;
}

.Dropdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0;
}

.Group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.CheckboxField {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 0 6px;
  margin: 0 0 8px 0;
}

.CheckboxField input[type="checkbox"] {
  margin-left: 0;
  grid-column: 1;
  grid-row: 1;
}

.CheckboxField .Label {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  gap: 6px;
}

.Description {
  font-size: 12px;
  line-height: 1.5;
  opacity: 0.6;
  margin: 2px 0 0 0;
  padding: 0;
}

.CheckboxField .Description {
  grid-column: 2;
  grid-row: 2;
}

.Control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.Field {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  margin: 0 0 12px 0;
}

.Field:has(.Description) {
  margin: 0 0 10px 0;
}

.Field select {
  margin-bottom: 6px;
}

.Field input[type="range"] {
  max-width: 100px;
}

.Field output {
  opacity: 0.7;
}

.Tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.Field label {
  grid-column: 1;
  grid-row: 1;
}

.Field .Control {
  grid-column: 2;
  grid-row: 1;
}

.Field .Description {
  grid-column: 1 / -1;
  grid-row: 2;
}

.MapInfoButton,
.ShowScoresButton {
  composes: Button from "./Button.module.css";
}

.ForceRenderButton {
  display: grid;
  place-content: center;
  border: 0;
  margin: 0;
  padding: 0 2px;
  font-size: 16px;
  background: transparent;
  color: #4cb5ff;
  cursor: pointer;
}

.CloseSidebarButton {
  composes: Button from "./Button.module.css";
  font-size: 15px;
  margin: 20px 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 900px) {
  .CloseSidebarButton {
    display: none;
  }
}

@media (pointer: coarse) {
  .Tools {
    padding-top: 12px;
    padding-bottom: 13px;
  }

  .Field {
    grid-template-columns: auto minmax(0, 70%);
    gap: 0 20px;
    margin-bottom: 20px;
  }

  .CheckboxField {
    margin-bottom: 16px;
  }

  .Description {
    font-size: 14px;
    line-height: calc(20 / 14);
  }

  .Field label,
  .CheckboxField .Label {
    font-size: 15px;
  }

  .CheckboxField input[type="checkbox"] {
    min-width: 19px;
    min-height: 19px;
    padding-right: 6px;
  }

  .Field select {
    width: 100%;
    max-width: none;
    font-size: 15px;
    padding: 4px 6px;
  }

  .Field input[type="range"] {
    width: 100%;
    max-width: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
