.JoinServerButton {
  composes: Button from "./Button.module.css";
}

.Icon {
  composes: Icon from "./Button.module.css";
}

.JoinServerButton[data-connected="true"] .Icon {
  animation: blink 1.2s ease-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
