.Root {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  gap: 10px;
  pointer-events: none;
  z-index: 1;
}

.Column {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

/* .Column[data-height="compact"] {
  gap: 2px;
} */

.Row {
  display: flex;
  gap: 4px;
  justify-content: stretch;
}

.Spacer {
  width: 32px;
}

.Sep {
  opacity: 0.5;
}

.Key {
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}

/* .Column[data-height="compact"] .Key {
  font-size: 10px;
  font-weight: 500;
  height: 26px;
} */

.Key[data-size="auto"] {
  flex: 0 0 auto;
}

.Key[data-size="fill"] {
  flex: 1 0 auto;
}

.Key[data-disabled="true"] {
  opacity: 0.6;
}

.Key[data-pressed="true"]:not([data-disabled="true"]) {
  background: rgba(35, 145, 132, 0.6);
  border-color: rgba(24, 197, 171, 0.4);
}

.Label {
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  background: rgba(200, 200, 200, 0.1);
}

.Key[data-pressed="true"]:not([data-disabled="true"]) .Label {
  color: rgba(255, 255, 255, 0.7);
}

.Label[data-size="auto"] {
  flex: 0 0 auto;
}

.Label[data-size="fill"] {
  flex: 1 0 auto;
}

.Label:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.Label:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

/* .Column[data-height="compact"] .Label:first-child {
  padding-right: 5px;
} */

/* .Column[data-height="compact"] .Label:last-child {
  padding-left: 5px;
} */

.Key[data-pressed="true"]:not([data-disabled="true"]) .Label {
  border-color: rgba(24, 197, 171, 0.4);
  color: rgba(162, 255, 222, 0.8);
}

.MultiInput {
  font-family: var(--monospace-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Input {
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0.8;
  padding: 0 8px;
}

/* .Column[data-height="compact"] .Key .Input {
  min-width: 26px;
} */

.Input[data-size="auto"],
.MultiInput[data-size="auto"] {
  flex: 0 0 auto;
}

.Input[data-size="fill"],
.MultiInput[data-size="fill"] {
  flex: 1 0 auto;
}

.Key[data-pressed="true"]:not([data-disabled="true"]) .Input {
  color: #fff;
}

.MultiInput .Input {
  flex: 0 0 auto;
  border: 0;
  background: transparent;
}

.ColumnLabel {
  font-size: 9px;
  color: rgb(255, 255, 255, 0.5);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  padding: 2px 0;
  text-align: center;
}

.PlayPauseIcon {
  font-size: 9px;
}

.MouseIcon {
  font-size: 19px;
}

/* .Column[data-height="compact"] .Key .MouseIcon {
  font-size: 16px;
} */

.Input:has(.MouseIcon) {
  padding: 0 4px;
}
