.Header {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.MissionInfo {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 10px auto 10px 4px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 5px 8px;
}

.MissionName {
  composes: SelectedName from "./MissionSelect.module.css";
}

.MissionType {
  composes: ItemType from "./MissionSelect.module.css";
  pointer-events: none;
}

.MissionTypeDisplayName {
  font-size: 12px;
  opacity: 0.5;
}

.Metadata {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-align: right;
  padding: 8px 0;
  margin-left: 4px;
}

.Attribution,
.ServerInfo {
  color: #83938b;
}

.PlayerName,
.RecordingDate,
.ServerName {
  color: #eceae7;
}

.ActionButton {
  composes: IconButton from "./InspectorControls.module.css";
  flex: 0 0 auto;
  margin: 0 10px 0 0;
  font-size: 16px;
  min-width: 28px;
  min-height: 28px;
  padding: 2px;
  background: rgba(213, 66, 58, 0.7);
}

@media (hover: hover) {
  .ActionButton:not(:disabled):hover {
    background: rgba(229, 70, 59, 0.9);
  }
}

.EjectIcon {
  font-size: 21px;
  margin-top: -0.5px;
}

.Error {
  color: rgb(255, 106, 69);
}

@media (max-width: 899px) {
  .Metadata {
    display: none;
  }

  .MissionInfo {
    margin-left: 0;
  }
}

.Pulsing {
  animation: blink 1.2s ease-out infinite;
}

.ConnectionPing {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  gap: 6px;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 8px;
  border-radius: 12px;
}

.PingDot {
  composes: Pulsing;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: currentColor;
}

.ConnectionPing[data-quality="good"] .PingDot {
  color: rgb(116, 255, 69);
}

.ConnectionPing[data-quality="fine"] .PingDot {
  color: rgb(255, 158, 47);
}

.ConnectionPing[data-quality="poor"] .PingDot {
  color: rgb(232, 63, 37);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
